CREATE TABLE `info` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `whastapp` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `call` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `facebook` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `instagram` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `mail` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `hours` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `days` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `address` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `city` varchar(300) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `phone` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `phone_2` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `latitud` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `longitud` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `link_buy` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);


commit;
CREATE TABLE `icons_info` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);

INSERT INTO `icons_info` (`id`, `name`, `img`, `created_at`, `updated_at`) VALUES (1,'Correo','uploads/1/2020-10/icon_1.png','2020-10-08 01:41:41',NULL),(2,'Horario','uploads/1/2020-10/icon_2.png','2020-10-08 01:41:42',NULL),(3,'UbicaciÃ³n','uploads/1/2020-10/icon_3.png','2020-10-08 01:41:43',NULL),(4,'TelÃ©fonos','uploads/1/2020-10/icon_4.png','2020-10-08 01:41:43',NULL);
CREATE TABLE `banner` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `img_mobile` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);

INSERT INTO `banner` (`id`, `img`, `img_mobile`, `status`, `created_at`, `updated_at`) VALUES (1,'uploads/1/2020-10/image_1.jpg','uploads/1/2020-10/image_1.jpg','activo','2020-10-08 01:24:59','2020-10-08 06:30:22'),(2,'uploads/1/2020-10/image_2.jpg','uploads/1/2020-10/image_2.jpg','activo','2020-10-08 01:32:01',NULL),(3,'uploads/1/2020-10/image_3.jpg','uploads/1/2020-10/image_3.jpg','activo','2020-10-08 01:32:03',NULL);
CREATE TABLE `web_info` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `title` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `subtitle` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `text` longtext COLLATE utf8mb4_spanish2_ci,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);

CREATE TABLE `image_sculptures` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
INSERT INTO `image_sculptures` (`id`, `img`, `status`, `created_at`, `updated_at`) VALUES (1,'uploads/1/2020-10/sculpture_1.jpg','activo','2020-10-08 01:43:35',NULL),(2,'uploads/1/2020-10/sculpture_2.jpg','activo','2020-10-08 01:43:36',NULL);
CREATE TABLE `services` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `text` varchar(500) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
CREATE TABLE `category_projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
INSERT INTO `category_projects` (`id`, `name`, `status`, `created_at`, `updated_at`) VALUES (1,'Pinturas','activo','2020-10-08 01:32:30',NULL),(2,'Cuadros de acero','activo','2020-10-08 01:32:31',NULL),(3,'Esculturas','activo','2020-10-08 01:32:31',NULL),(4,'Jarrones','activo','2020-10-08 01:32:32',NULL),(5,'Vitrales','activo','2020-10-08 01:32:33',NULL);
CREATE TABLE `projects` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_projects_id` int(11) DEFAULT NULL,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `modal` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `title` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `subtitle` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `year` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `medida` varchar(100) COLLATE utf8mb4_spanish2_ci NOT NULL,
  `position` int(11) NOT NULL DEFAULT '1',
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
CREATE TABLE `works` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `img` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `details` text COLLATE utf8mb4_spanish2_ci,
  `place` text COLLATE utf8mb4_spanish2_ci,
  `city` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `country` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
CREATE TABLE `year_expositions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` int(11) DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
CREATE TABLE `expositions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `category_expositions_id` int(11) DEFAULT NULL,
  `year_expositions_id` int(11) DEFAULT NULL,
  `city` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `country` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `place` varchar(100) COLLATE utf8mb4_spanish2_ci DEFAULT NULL,
  `status` varchar(10) COLLATE utf8mb4_spanish2_ci DEFAULT 'activo',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
);
